.map-container {
    height: 150px;
    width: 100%;
    @media (min-width: 736px) {
      height: 300px;
    }
    @media (min-width: 1024px) {
      height: 500px;
    }

}
.leaflet-container {
  width: 100%;
  height: 70vh;
}