.footer {
    width: 100vw;
    background-color: #ba283b;
    text-align: center;
    align-items: center;
    height: 50px;
    padding: 15px 30px 15px 30px;
    @media all and (min-width: 768px) {

    }
}
.small {
    color: white;
}