.header {
    width: 100%;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 1em;
    margin-left: 5px;
}
.title {
    margin-right:30px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 17px;
    width: 100%;
  }
  .image {
  height: 100px;
  border-radius: 40px;
  margin-left: 15px;
  }
  .logo {
    height: 90px;
    width: 120px;

  }