@import "../core/variables";
.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: solid grey;
  margin-left: 10px;
  margin-right:10px;
  
  &__subtitle {

    font-size: 14px;
  }
}
.section {
    height: 200px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid blue;
    margin-bottom: 20px;
    @media (min-width: 736px) {
        height: 315px;
        margin-bottom: 30px;
    }
   @media (min-width: 1024px) {
       height: 430px;
       margin-bottom: 35px;
    }
}
.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: solid #ba283b;
    ;
  }
  .subtitle {
    font-size: 14px;
  }

  
  